.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url('/landing.jpg');
  background-size: cover;
  color: #FFEB3B;
  font-size: 1.2rem;
  text-align: center;
  padding: 1em;
}

.title {
  font-size: 3rem;
  margin-bottom: 0.5em;
  animation: fadeIn 2s;
  font-weight: 600;
}

.description {
  margin-bottom: 2.5em;
  animation: fadeIn 2s;
  font-size: 1.4rem;
}

.button {
  padding: 1em 2.5em;
  border: 2px solid #FFEB3B;
  background-color: transparent;
  color: #FFEB3B;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: #FFEB3B;
  color: #1C1E2A;
  transform: scale(1.05);
}

.graphic {
  width: 60%;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.icon {
  margin-left: 10px;
}
