.playgroundsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  color: #FFEB3B;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url('/playgrounds.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}

.playgroundCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60%;
  margin: 0 auto;
}

.playgroundCard {
  box-sizing: border-box;
  margin: 20px 10px;
  box-shadow: 0 4px 8px 0 #696969;
  transition: 0.3s;
  padding: 20px;
  text-decoration: none;
  color: black;
  background-color: #303646;
  position: relative;
  flex: 0 1 200px;
  height: 150px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.playgroundCard:hover {
  box-shadow: 0 8px 16px 0 #696969;
}

.playgroundName {
  font-size: 1.2em;
  font-weight: bold;
  color: #D9D9D9;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.playgroundButton {
  position: absolute;
  bottom: 10px;
  color: #5F89C3;
  background-color: #1C1E2A;
}

h1 {
  text-align: center;
  width: 100%;
  font-size: 2.5rem;
  margin-bottom: 1em;
  animation: fadeIn 2s;
}

@media (min-width: var(--breakpoint-md)) {
  .playgroundCard {
    flex: 1 0 45%;
  }
}

@media (min-width: var(--breakpoint-lg)) {
  .playgroundCard {
    flex: 1 0 30%;
  }
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}