.App {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  padding: 3em; /* Updated padding for consistency */
  box-sizing: border-box;
  color: #FFEB3B; /* Added color for consistency */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url('/public/playrgounds.jpg') no-repeat center center fixed; /* Added background for consistency */
  background-size: cover;
}

.playground {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.playground-name:hover, .code-editor:hover {
  box-shadow: 0 8px 16px 0 #696969;
}

.playground-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #424242; /* Added background color */
  border-radius: 5px; /* Added border radius */
  margin-bottom: 10px; /* Added margin */
  width: 100%; /* Ensure it takes full width */
}

.playground-name {
  flex-grow: 0; /* Change this to 0 */
  margin-right: 10px;
  width: 300px; /* Added a fixed width to make it less wide */
  padding: 10px; /* Added padding */
  border-radius: 5px; /* Added border radius */
  border: none; /* Removed border */
}

.editor-header {
  background-color: #424242;
  color: #FFEB3B;
  padding: 10px;
  font-weight: bold;
}

.code-editor {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #303646; /* Changed to a darker background color */
  border-radius: 5px;
}

.code-editor .CodeMirror {
  flex: 1;
  border-top: 1px solid #ddd;
}

.result {
  flex: 2;
  margin-top: 10px;
  background-color: #303646; /* Changed to a darker background color */
  border-radius: 5px;
  border: 1px solid #ddd;
}

.button-group {
  margin-left: auto;
}

.save-button {
  margin-right: 8px;
}

.action-button {
  margin-left: 10px;
  padding: 0.5em 1em;
  font-size: 1rem; /* Adjust the size to make them smaller */
  font-weight: bold;
  color: #FFEB3B;
  background-color: #1C1E2A;
  border: none;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  margin-left: auto;
}

.action-button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 #696969;
}

.iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Your existing media query */
@media (min-width: 768px) {
  .playground {
    flex-direction: row;
  }

  .result {
    margin-top: 0;
  }

  .iframe {
    height: calc(100vh - 70px);
  }
}
