.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3em;
  color: #FFEB3B;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url('/playgrounds.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}

.inputField {
  margin: 0 10px 0 16px; 
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border-radius: 5px;
  border: 2px solid transparent; 
  background-color: #242424;
  color: white;
  box-sizing: border-box;
}

.inputField:focus {
  outline: none;
  border: 2px solid #FFEB3B;
}

.message {
  margin-top: 0;
  height: 20px;
  color: #dd1b16;
  font-size: 18px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.label, .fileLabel {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 8px;
  white-space: nowrap; 
}

.button {
  margin-left: 16px;
}

.signup-button {
  margin-left: 16px;
  padding: 1em 2em;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  transition: transform 0.2s, box-shadow 0.2s;
  color: #FFEB3B;
  background-color: #1C1E2A;
  cursor: pointer;
}


.signup-button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 #696969;
}

.fileInputContainer {
  display: flex;
  align-items: center;
}

.fileInput {
  margin: 0 0 0 16px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid transparent;
  color: #aaa;
  box-sizing: border-box;
}

.signInMessage {
  margin-top: 20px;
  font-size: 14px;
}

.signInMessage a {
  color: #007bff;
  text-decoration: none;
}

.signInMessage a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  .inputField, .fileInput {
    width: calc(100% - 40px);
  }
}
