:root {
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1200px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  caret-color: #FFEB3B;
}

body {
  box-sizing: border-box;

  margin: 0;
  min-height: 100vh;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

button {
  margin-left: 10px;
  color: #FFEB3B;
  background-color: #1C1E2A;
}

button:hover {
  box-shadow: 0 8px 16px 0 #696969;
}

a,
a:visited {
  color: #00d8ff
}

nav > ul {
  margin: 0;
  padding: 16px 32px;
}

